<!-- <form method="POST" action="/compressImage" enctype="multipart/form-data">
	<input type="file" name="image" accept="image/*" required />
	<input type="submit" value="Compress image" />
</form> -->

<form method="POST" action="/compressMedia" enctype="multipart/form-data">
    <input type="file" name="video" accept="video/*" required />
    <input type="submit" value="Compress video" />
</form>
